.home {
    padding: 20px;
    background-color: #222;
    
}


.movie-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the minmax values as needed */
    gap: 20px;
   
}

.link{
    text-decoration: none;
}

.search-bar {
    margin-left:70%;
    margin-bottom: 1%;
    
    /* position: sticky; */
    top:0%;
}


@media (min-width: 768px) {
    .movie-cards {
        grid-template-columns: repeat(4, 1fr); /* Four cards per row on larger screens */
    }

    
    .search-bar input {
        width: 60%;
    }
}



.movie-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.movie-card h2,
.movie-card p {
    margin: 0;
   text-align: center;
   text-decoration: none;
}

.movie-card p {
    font-size: 14px;
}
