

   .movie-detail {
    padding: 20px;
    background-color: lightslategray;
}

.details{
    display: flex;
    background-color: rgba(0, 0, 0, 0.7); /* Background color with transparency for readability */
    
    padding: 20px;
    padding-bottom: 0% !important;
    width: 50vw;
    margin-bottom: 0;
}


.overview-section {
    background-color: rgba(0, 0, 0, 0.7); /* Background color with transparency for readability */
   margin-top: 0;
   
    padding: 20px;
    width: 50vw;
    color: white;
}




.poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
}

.info {
    flex-grow: 1;
}


h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    color: #fff;
    margin-bottom: 8px;
}

.backdrop{
    width: 100%;
    background-size: cover;
    
} 



.cast {
    margin-top: 20px;
}

.cast h2{
    color: white;
}

.cast-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.actor {
    width: 200px;
    text-align: center;
}

.actor img {
    width: 100%;
   
}

.actor p {
    margin: 5px 0;
}






@media (max-width: 768px) {
    .poster {
        width: 150px; /* Reduce poster width on smaller screens */
        height: 225px; /* Adjust poster height accordingly */
    }

    .details {
        width: 100%;
        margin-bottom: 20px; /* Add space between details and overview */
    }

    .overview-section {
        width: 100%;
    }

    .cast-list {
        gap: 10px; /* Reduce gap between cast members */
    }

    .actor {
        width: 150px; /* Adjust actor card width on smaller screens */
    }
}
